{
  "openapi": "3.1.0",
  "info": {
    "title": "SevenRooms / DoorDash Going Out Reservation Discovery API",
    "version": "0.1.0-discovered",
    "description": "Spec discovered from a browser-trace capture by the browser-to-api skill. Inductive, not contractual — see `report.md` and `x-confidence` extensions for caveats."
  },
  "servers": [
    {
      "url": "https://www.sevenrooms.com"
    }
  ],
  "paths": {
    "/api-yoa/availability/widget/range": {
      "get": {
        "summary": "GET /api-yoa/availability/widget/range",
        "operationId": "get_api_yoa_availability_widget_range",
        "parameters": [
          {
            "name": "venue",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_slot",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "halo_size_interval",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "num_days",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Range"
                },
                "example": {
                  "status": 200,
                  "data": {
                    "availability": {
                      "2026-06-08": [
                        {
                          "name": "Dinner",
                          "shift_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjgLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIPc3JfU2hpZnREZWZhdWx0GICAsfqk5JULDA",
                          "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                          "shift_category": "DINNER",
                          "is_closed": false,
                          "is_previous_version": false,
                          "is_forced_empty_availability": false,
                          "duration_minutes_by_party_size": {
                            "1": 105,
                            "2": 120,
                            "3": 150,
                            "4": 165,
                            "5": 180,
                            "6": 180,
                            "7": 180,
                            "8": 180,
                            "9": 210,
                            "-1": 210
                          },
                          "upsell_categories": [],
                          "times": [
                            {
                              "type": "book",
                              "sort_order": 46,
                              "time": "5:30 PM",
                              "time_iso": "2026-06-08 17:30:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-08 17:30:00",
                              "utc_datetime": "2026-06-08 21:30:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 15,
                              "pacing_covers_remaining": 15,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
                              "cancellation_policy": "Armani / Ristorante Reservation Cancellation Policy\r\n\r\nWe understand that plans can change, and we strive to accommodate all our guests in the best possible way. To ensure we provide excellent service to all our patrons, we ask that you kindly observe the following cancellation policy:\r\n\r\nReservations:\r\nA valid credit card is required to secure all reservations. Walk-ins are welcome based on availability.\r\n\r\nCancellations:\r\nWe require at least 24 hours' notice for cancellations to avoid a $25 per person fee (for special events or holidays, 72 hours' notice is required).\r\n\r\nNo-Shows:\r\nIf you miss your reservation without prior notice, you will be charged a $25 per person fee.\r\n\r\nSpecial Events or Holidays:\r\nA $50 deposit per person is required for reservations during these times. The 72-hour cancellation policy applies to avoid forfeiting the deposit.\r\n\r\nLate Arrivals:\r\nIf you are running late for your reservation, please notify us promptly. Reservations will be held for up to 15 minutes, after which they may be subject to cancellation.\r\n\r\nChanging Reservations:\r\nTo adjust your reservation (time, date, or guest count), please notify us at least 24 hours in advance (72 hours for special events/holidays). We will do our best to accommodate your request based on availability.\r\n\r\nWe appreciate your understanding. Your cooperation with our policy helps us ensure a smooth and enjoyable dining experience for all our guests.",
                              "custom_checkout_policy": "",
                              "bookable_from_tags": null,
                              "default_service_charge": 20,
                              "default_gratuity": 20,
                              "cc_party_size_min": null,
                              "service_charge_type": null,
                              "require_credit_card": true,
                              "cc_payment_rule": "save_for_later",
                              "charge_type": null,
                              "cost": 0,
                              "apply_service_charge": false,
                              "service_charge": null,
                              "gratuity_type": null,
                              "gratuity": null,
                              "require_gratuity_charge": false,
                              "tax_rate": null,
                              "apply_gratuity_charge": false
                            },
                            {
                              "type": "book",
                              "sort_order": 47,
                              "time": "5:45 PM",
                              "time_iso": "2026-06-08 17:45:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-08 17:45:00",
                              "utc_datetime": "2026-06-08 21:45:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 15,
                              "pacing_covers_remaining": 15,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
                              "cancellation_policy": "Armani / Ristorante Reservation Cancellation Policy\r\n\r\nWe understand that plans can change, and we strive to accommodate all our guests in the best possible way. To ensure we provide excellent service to all our patrons, we ask that you kindly observe the following cancellation policy:\r\n\r\nReservations:\r\nA valid credit card is required to secure all reservations. Walk-ins are welcome based on availability.\r\n\r\nCancellations:\r\nWe require at least 24 hours' notice for cancellations to avoid a $25 per person fee (for special events or holidays, 72 hours' notice is required).\r\n\r\nNo-Shows:\r\nIf you miss your reservation without prior notice, you will be charged a $25 per person fee.\r\n\r\nSpecial Events or Holidays:\r\nA $50 deposit per person is required for reservations during these times. The 72-hour cancellation policy applies to avoid forfeiting the deposit.\r\n\r\nLate Arrivals:\r\nIf you are running late for your reservation, please notify us promptly. Reservations will be held for up to 15 minutes, after which they may be subject to cancellation.\r\n\r\nChanging Reservations:\r\nTo adjust your reservation (time, date, or guest count), please notify us at least 24 hours in advance (72 hours for special events/holidays). We will do our best to accommodate your request based on availability.\r\n\r\nWe appreciate your understanding. Your cooperation with our policy helps us ensure a smooth and enjoyable dining experience for all our guests.",
                              "custom_checkout_policy": "",
                              "bookable_from_tags": null,
                              "default_service_charge": 20,
                              "default_gratuity": 20,
                              "cc_party_size_min": null,
                              "service_charge_type": null,
                              "require_credit_card": true,
                              "cc_payment_rule": "save_for_later",
                              "charge_type": null,
                              "cost": 0,
                              "apply_service_charge": false,
                              "service_charge": null,
                              "gratuity_type": null,
                              "gratuity": null,
                              "require_gratuity_charge": false,
                              "tax_rate": null,
                              "apply_gratuity_charge": false
                            },
                            {
                              "type": "book",
                              "sort_order": 48,
                              "time": "6:00 PM",
                              "time_iso": "2026-06-08 18:00:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-08 18:00:00",
                              "utc_datetime": "2026-06-08 22:00:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 15,
                              "pacing_covers_remaining": 12,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
                              "cancellation_policy": "Armani / Ristorante Reservation Cancellation Policy\r\n\r\nWe understand that plans can change, and we strive to accommodate all our guests in the best possible way. To ensure we provide excellent service to all our patrons, we ask that you kindly observe the following cancellation policy:\r\n\r\nReservations:\r\nA valid credit card is required to secure all reservations. Walk-ins are welcome based on availability.\r\n\r\nCancellations:\r\nWe require at least 24 hours' notice for cancellations to avoid a $25 per person fee (for special events or holidays, 72 hours' notice is required).\r\n\r\nNo-Shows:\r\nIf you miss your reservation without prior notice, you will be charged a $25 per person fee.\r\n\r\nSpecial Events or Holidays:\r\nA $50 deposit per person is required for reservations during these times. The 72-hour cancellation policy applies to avoid forfeiting the deposit.\r\n\r\nLate Arrivals:\r\nIf you are running late for your reservation, please notify us promptly. Reservations will be held for up to 15 minutes, after which they may be subject to cancellation.\r\n\r\nChanging Reservations:\r\nTo adjust your reservation (time, date, or guest count), please notify us at least 24 hours in advance (72 hours for special events/holidays). We will do our best to accommodate your request based on availability.\r\n\r\nWe appreciate your understanding. Your cooperation with our policy helps us ensure a smooth and enjoyable dining experience for all our guests.",
                              "custom_checkout_policy": "",
                              "bookable_from_tags": null,
                              "default_service_charge": 20,
                              "default_gratuity": 20,
                              "cc_party_size_min": null,
                              "service_charge_type": null,
                              "require_credit_card": true,
                              "cc_payment_rule": "save_for_later",
                              "charge_type": null,
                              "cost": 0,
                              "apply_service_charge": false,
                              "service_charge": null,
                              "gratuity_type": null,
                              "gratuity": null,
                              "require_gratuity_charge": false,
                              "tax_rate": null,
                              "apply_gratuity_charge": false
                            },
                            {
                              "type": "book",
                              "sort_order": 49,
                              "time": "6:15 PM",
                              "time_iso": "2026-06-08 18:15:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-08 18:15:00",
                              "utc_datetime": "2026-06-08 22:15:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 13,
                              "pacing_covers_remaining": 13,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
                              "cancellation_policy": "Armani / Ristorante Reservation Cancellation Policy\r\n\r\nWe understand that plans can change, and we strive to accommodate all our guests in the best possible way. To ensure we provide excellent service to all our patrons, we ask that you kindly observe the following cancellation policy:\r\n\r\nReservations:\r\nA valid credit card is required to secure all reservations. Walk-ins are welcome based on availability.\r\n\r\nCancellations:\r\nWe require at least 24 hours' notice for cancellations to avoid a $25 per person fee (for special events or holidays, 72 hours' notice is required).\r\n\r\nNo-Shows:\r\nIf you miss your reservation without prior notice, you will be charged a $25 per person fee.\r\n\r\nSpecial Events or Holidays:\r\nA $50 deposit per person is required for reservations during these times. The 72-hour cancellation policy applies to avoid forfeiting the deposit.\r\n\r\nLate Arrivals:\r\nIf you are running late for your reservation, please notify us promptly. Reservations will be held for up to 15 minutes, after which they may be subject to cancellation.\r\n\r\nChanging Reservations:\r\nTo adjust your reservation (time, date, or guest count), please notify us at least 24 hours in advance (72 hours for special events/holidays). We will do our best to accommodate your request based on availability.\r\n\r\nWe appreciate your understanding. Your cooperation with our policy helps us ensure a smooth and enjoyable dining experience for all our guests.",
                              "custom_checkout_policy": "",
                              "bookable_from_tags": null,
                              "default_service_charge": 20,
                              "default_gratuity": 20,
                              "cc_party_size_min": null,
                              "service_charge_type": null,
                              "require_credit_card": true,
                              "cc_payment_rule": "save_for_later",
                              "charge_type": null,
                              "cost": 0,
                              "apply_service_charge": false,
                              "service_charge": null,
                              "gratuity_type": null,
                              "gratuity": null,
                              "require_gratuity_charge": false,
                              "tax_rate": null,
                              "apply_gratuity_charge": false
                            },
                            {
                              "type": "book",
                              "sort_order": 50,
                              "time": "6:30 PM",
                              "time_iso": "2026-06-08 18:30:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-08 18:30:00",
                              "utc_datetime": "2026-06-08 22:30:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 13,
                              "pacing_covers_remaining": 7,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
                              "cancellation_policy": "Armani / Ristorante Reservation Cancellation Policy\r\n\r\nWe understand that plans can change, and we strive to accommodate all our guests in the best possible way. To ensure we provide excellent service to all our patrons, we ask that you kindly observe the following cancellation policy:\r\n\r\nReservations:\r\nA valid credit card is required to secure all reservations. Walk-ins are welcome based on availability.\r\n\r\nCancellations:\r\nWe require at least 24 hours' notice for cancellations to avoid a $25 per person fee (for special events or holidays, 72 hours' notice is required).\r\n\r\nNo-Shows:\r\nIf you miss your reservation without prior notice, you will be charged a $25 per person fee.\r\n\r\nSpecial Events or Holidays:\r\nA $50 deposit per person is required for reservations during these times. The 72-hour cancellation policy applies to avoid forfeiting the deposit.\r\n\r\nLate Arrivals:\r\nIf you are running late for your reservation, please notify us promptly. Reservations will be held for up to 15 minutes, after which they may be subject to cancellation.\r\n\r\nChanging Reservations:\r\nTo adjust your reservation (time, date, or guest count), please notify us at least 24 hours in advance (72 hours for special events/holidays). We will do our best to accommodate your request based on availability.\r\n\r\nWe appreciate your understanding. Your cooperation with our policy helps us ensure a smooth and enjoyable dining experience for all our guests.",
                              "custom_checkout_policy": "",
                              "bookable_from_tags": null,
                              "default_service_charge": 20,
                              "default_gratuity": 20,
                              "cc_party_size_min": null,
                              "service_charge_type": null,
                              "require_credit_card": true,
                              "cc_payment_rule": "save_for_later",
                              "charge_type": null,
                              "cost": 0,
                              "apply_service_charge": false,
                              "service_charge": null,
                              "gratuity_type": null,
                              "gratuity": null,
                              "require_gratuity_charge": false,
                              "tax_rate": null,
                              "apply_gratuity_charge": false
                            },
                            {
                              "type": "book",
                              "sort_order": 51,
                              "time": "6:45 PM",
                              "time_iso": "2026-06-08 18:45:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-08 18:45:00",
                              "utc_datetime": "2026-06-08 22:45:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 13,
                              "pacing_covers_remaining": 13,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
                              "cancellation_policy": "Armani / Ristorante Reservation Cancellation Policy\r\n\r\nWe understand that plans can change, and we strive to accommodate all our guests in the best possible way. To ensure we provide excellent service to all our patrons, we ask that you kindly observe the following cancellation policy:\r\n\r\nReservations:\r\nA valid credit card is required to secure all reservations. Walk-ins are welcome based on availability.\r\n\r\nCancellations:\r\nWe require at least 24 hours' notice for cancellations to avoid a $25 per person fee (for special events or holidays, 72 hours' notice is required).\r\n\r\nNo-Shows:\r\nIf you miss your reservation without prior notice, you will be charged a $25 per person fee.\r\n\r\nSpecial Events or Holidays:\r\nA $50 deposit per person is required for reservations during these times. The 72-hour cancellation policy applies to avoid forfeiting the deposit.\r\n\r\nLate Arrivals:\r\nIf you are running late for your reservation, please notify us promptly. Reservations will be held for up to 15 minutes, after which they may be subject to cancellation.\r\n\r\nChanging Reservations:\r\nTo adjust your reservation (time, date, or guest count), please notify us at least 24 hours in advance (72 hours for special events/holidays). We will do our best to accommodate your request based on availability.\r\n\r\nWe appreciate your understanding. Your cooperation with our policy helps us ensure a smooth and enjoyable dining experience for all our guests.",
                              "custom_checkout_policy": "",
                              "bookable_from_tags": null,
                              "default_service_charge": 20,
                              "default_gratuity": 20,
                              "cc_party_size_min": null,
                              "service_charge_type": null,
                              "require_credit_card": true,
                              "cc_payment_rule": "save_for_later",
                              "charge_type": null,
                              "cost": 0,
                              "apply_service_charge": false,
                              "service_charge": null,
                              "gratuity_type": null,
                              "gratuity": null,
                              "require_gratuity_charge": false,
                              "tax_rate": null,
                              "apply_gratuity_charge": false
                            },
                            {
                              "type": "book",
                              "sort_order": 52,
                              "time": "7:00 PM",
                              "time_iso": "2026-06-08 19:00:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-08 19:00:00",
                              "utc_datetime": "2026-06-08 23:00:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 13,
                              "pacing_covers_remaining": 13,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
                              "cancellation_policy": "Armani / Ristorante Reservation Cancellation Policy\r\n\r\nWe understand that plans can change, and we strive to accommodate all our guests in the best possible way. To ensure we provide excellent service to all our patrons, we ask that you kindly observe the following cancellation policy:\r\n\r\nReservations:\r\nA valid credit card is required to secure all reservations. Walk-ins are welcome based on availability.\r\n\r\nCancellations:\r\nWe require at least 24 hours' notice for cancellations to avoid a $25 per person fee (for special events or holidays, 72 hours' notice is required).\r\n\r\nNo-Shows:\r\nIf you miss your reservation without prior notice, you will be charged a $25 per person fee.\r\n\r\nSpecial Events or Holidays:\r\nA $50 deposit per person is required for reservations during these times. The 72-hour cancellation policy applies to avoid forfeiting the deposit.\r\n\r\nLate Arrivals:\r\nIf you are running late for your reservation, please notify us promptly. Reservations will be held for up to 15 minutes, after which they may be subject to cancellation.\r\n\r\nChanging Reservations:\r\nTo adjust your reservation (time, date, or guest count), please notify us at least 24 hours in advance (72 hours for special events/holidays). We will do our best to accommodate your request based on availability.\r\n\r\nWe appreciate your understanding. Your cooperation with our policy helps us ensure a smooth and enjoyable dining experience for all our guests.",
                              "custom_checkout_policy": "",
                              "bookable_from_tags": null,
                              "default_service_charge": 20,
                              "default_gratuity": 20,
                              "cc_party_size_min": null,
                              "service_charge_type": null,
                              "require_credit_card": true,
                              "cc_payment_rule": "save_for_later",
                              "charge_type": null,
                              "cost": 0,
                              "apply_service_charge": false,
                              "service_charge": null,
                              "gratuity_type": null,
                              "gratuity": null,
                              "require_gratuity_charge": false,
                              "tax_rate": null,
                              "apply_gratuity_charge": false
                            },
                            {
                              "type": "book",
                              "sort_order": 53,
                              "time": "7:15 PM",
                              "time_iso": "2026-06-08 19:15:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-08 19:15:00",
                              "utc_datetime": "2026-06-08 23:15:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 13,
                              "pacing_covers_remaining": 13,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
                              "cancellation_policy": "Armani / Ristorante Reservation Cancellation Policy\r\n\r\nWe understand that plans can change, and we strive to accommodate all our guests in the best possible way. To ensure we provide excellent service to all our patrons, we ask that you kindly observe the following cancellation policy:\r\n\r\nReservations:\r\nA valid credit card is required to secure all reservations. Walk-ins are welcome based on availability.\r\n\r\nCancellations:\r\nWe require at least 24 hours' notice for cancellations to avoid a $25 per person fee (for special events or holidays, 72 hours' notice is required).\r\n\r\nNo-Shows:\r\nIf you miss your reservation without prior notice, you will be charged a $25 per person fee.\r\n\r\nSpecial Events or Holidays:\r\nA $50 deposit per person is required for reservations during these times. The 72-hour cancellation policy applies to avoid forfeiting the deposit.\r\n\r\nLate Arrivals:\r\nIf you are running late for your reservation, please notify us promptly. Reservations will be held for up to 15 minutes, after which they may be subject to cancellation.\r\n\r\nChanging Reservations:\r\nTo adjust your reservation (time, date, or guest count), please notify us at least 24 hours in advance (72 hours for special events/holidays). We will do our best to accommodate your request based on availability.\r\n\r\nWe appreciate your understanding. Your cooperation with our policy helps us ensure a smooth and enjoyable dining experience for all our guests.",
                              "custom_checkout_policy": "",
                              "bookable_from_tags": null,
                              "default_service_charge": 20,
                              "default_gratuity": 20,
                              "cc_party_size_min": null,
                              "service_charge_type": null,
                              "require_credit_card": true,
                              "cc_payment_rule": "save_for_later",
                              "charge_type": null,
                              "cost": 0,
                              "apply_service_charge": false,
                              "service_charge": null,
                              "gratuity_type": null,
                              "gratuity": null,
                              "require_gratuity_charge": false,
                              "tax_rate": null,
                              "apply_gratuity_charge": false
                            },
                            {
                              "type": "book",
                              "sort_order": 54,
                              "time": "7:30 PM",
                              "time_iso": "2026-06-08 19:30:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-08 19:30:00",
                              "utc_datetime": "2026-06-08 23:30:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 13,
                              "pacing_covers_remaining": 13,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
                              "cancellation_policy": "Armani / Ristorante Reservation Cancellation Policy\r\n\r\nWe understand that plans can change, and we strive to accommodate all our guests in the best possible way. To ensure we provide excellent service to all our patrons, we ask that you kindly observe the following cancellation policy:\r\n\r\nReservations:\r\nA valid credit card is required to secure all reservations. Walk-ins are welcome based on availability.\r\n\r\nCancellations:\r\nWe require at least 24 hours' notice for cancellations to avoid a $25 per person fee (for special events or holidays, 72 hours' notice is required).\r\n\r\nNo-Shows:\r\nIf you miss your reservation without prior notice, you will be charged a $25 per person fee.\r\n\r\nSpecial Events or Holidays:\r\nA $50 deposit per person is required for reservations during these times. The 72-hour cancellation policy applies to avoid forfeiting the deposit.\r\n\r\nLate Arrivals:\r\nIf you are running late for your reservation, please notify us promptly. Reservations will be held for up to 15 minutes, after which they may be subject to cancellation.\r\n\r\nChanging Reservations:\r\nTo adjust your reservation (time, date, or guest count), please notify us at least 24 hours in advance (72 hours for special events/holidays). We will do our best to accommodate your request based on availability.\r\n\r\nWe appreciate your understanding. Your cooperation with our policy helps us ensure a smooth and enjoyable dining experience for all our guests.",
                              "custom_checkout_policy": "",
                              "bookable_from_tags": null,
                              "default_service_charge": 20,
                              "default_gratuity": 20,
                              "cc_party_size_min": null,
                              "service_charge_type": null,
                              "require_credit_card": true,
                              "cc_payment_rule": "save_for_later",
                              "charge_type": null,
                              "cost": 0,
                              "apply_service_charge": false,
                              "service_charge": null,
                              "gratuity_type": null,
                              "gratuity": null,
                              "require_gratuity_charge": false,
                              "tax_rate": null,
                              "apply_gratuity_charge": false
                            },
                            {
                              "type": "book",
                              "sort_order": 55,
                              "time": "7:45 PM",
                              "time_iso": "2026-06-08 19:45:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-08 19:45:00",
                              "utc_datetime": "2026-06-08 23:45:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 13,
                              "pacing_covers_remaining": 13,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
                              "cancellation_policy": "Armani / Ristorante Reservation Cancellation Policy\r\n\r\nWe understand that plans can change, and we strive to accommodate all our guests in the best possible way. To ensure we provide excellent service to all our patrons, we ask that you kindly observe the following cancellation policy:\r\n\r\nReservations:\r\nA valid credit card is required to secure all reservations. Walk-ins are welcome based on availability.\r\n\r\nCancellations:\r\nWe require at least 24 hours' notice for cancellations to avoid a $25 per person fee (for special events or holidays, 72 hours' notice is required).\r\n\r\nNo-Shows:\r\nIf you miss your reservation without prior notice, you will be charged a $25 per person fee.\r\n\r\nSpecial Events or Holidays:\r\nA $50 deposit per person is required for reservations during these times. The 72-hour cancellation policy applies to avoid forfeiting the deposit.\r\n\r\nLate Arrivals:\r\nIf you are running late for your reservation, please notify us promptly. Reservations will be held for up to 15 minutes, after which they may be subject to cancellation.\r\n\r\nChanging Reservations:\r\nTo adjust your reservation (time, date, or guest count), please notify us at least 24 hours in advance (72 hours for special events/holidays). We will do our best to accommodate your request based on availability.\r\n\r\nWe appreciate your understanding. Your cooperation with our policy helps us ensure a smooth and enjoyable dining experience for all our guests.",
                              "custom_checkout_policy": "",
                              "bookable_from_tags": null,
                              "default_service_charge": 20,
                              "default_gratuity": 20,
                              "cc_party_size_min": null,
                              "service_charge_type": null,
                              "require_credit_card": true,
                              "cc_payment_rule": "save_for_later",
                              "charge_type": null,
                              "cost": 0,
                              "apply_service_charge": false,
                              "service_charge": null,
                              "gratuity_type": null,
                              "gratuity": null,
                              "require_gratuity_charge": false,
                              "tax_rate": null,
                              "apply_gratuity_charge": false
                            },
                            {
                              "type": "book",
                              "sort_order": 56,
                              "time": "8:00 PM",
                              "time_iso": "2026-06-08 20:00:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-08 20:00:00",
                              "utc_datetime": "2026-06-09 00:00:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 13,
                              "pacing_covers_remaining": 9,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
                              "cancellation_policy": "Armani / Ristorante Reservation Cancellation Policy\r\n\r\nWe understand that plans can change, and we strive to accommodate all our guests in the best possible way. To ensure we provide excellent service to all our patrons, we ask that you kindly observe the following cancellation policy:\r\n\r\nReservations:\r\nA valid credit card is required to secure all reservations. Walk-ins are welcome based on availability.\r\n\r\nCancellations:\r\nWe require at least 24 hours' notice for cancellations to avoid a $25 per person fee (for special events or holidays, 72 hours' notice is required).\r\n\r\nNo-Shows:\r\nIf you miss your reservation without prior notice, you will be charged a $25 per person fee.\r\n\r\nSpecial Events or Holidays:\r\nA $50 deposit per person is required for reservations during these times. The 72-hour cancellation policy applies to avoid forfeiting the deposit.\r\n\r\nLate Arrivals:\r\nIf you are running late for your reservation, please notify us promptly. Reservations will be held for up to 15 minutes, after which they may be subject to cancellation.\r\n\r\nChanging Reservations:\r\nTo adjust your reservation (time, date, or guest count), please notify us at least 24 hours in advance (72 hours for special events/holidays). We will do our best to accommodate your request based on availability.\r\n\r\nWe appreciate your understanding. Your cooperation with our policy helps us ensure a smooth and enjoyable dining experience for all our guests.",
                              "custom_checkout_policy": "",
                              "bookable_from_tags": null,
                              "default_service_charge": 20,
                              "default_gratuity": 20,
                              "cc_party_size_min": null,
                              "service_charge_type": null,
                              "require_credit_card": true,
                              "cc_payment_rule": "save_for_later",
                              "charge_type": null,
                              "cost": 0,
                              "apply_service_charge": false,
                              "service_charge": null,
                              "gratuity_type": null,
                              "gratuity": null,
                              "require_gratuity_charge": false,
                              "tax_rate": null,
                              "apply_gratuity_charge": false
                            },
                            {
                              "type": "book",
                              "sort_order": 57,
                              "time": "8:15 PM",
                              "time_iso": "2026-06-08 20:15:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-08 20:15:00",
                              "utc_datetime": "2026-06-09 00:15:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 13,
                              "pacing_covers_remaining": 13,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
                              "cancellation_policy": "Armani / Ristorante Reservation Cancellation Policy\r\n\r\nWe understand that plans can change, and we strive to accommodate all our guests in the best possible way. To ensure we provide excellent service to all our patrons, we ask that you kindly observe the following cancellation policy:\r\n\r\nReservations:\r\nA valid credit card is required to secure all reservations. Walk-ins are welcome based on availability.\r\n\r\nCancellations:\r\nWe require at least 24 hours' notice for cancellations to avoid a $25 per person fee (for special events or holidays, 72 hours' notice is required).\r\n\r\nNo-Shows:\r\nIf you miss your reservation without prior notice, you will be charged a $25 per person fee.\r\n\r\nSpecial Events or Holidays:\r\nA $50 deposit per person is required for reservations during these times. The 72-hour cancellation policy applies to avoid forfeiting the deposit.\r\n\r\nLate Arrivals:\r\nIf you are running late for your reservation, please notify us promptly. Reservations will be held for up to 15 minutes, after which they may be subject to cancellation.\r\n\r\nChanging Reservations:\r\nTo adjust your reservation (time, date, or guest count), please notify us at least 24 hours in advance (72 hours for special events/holidays). We will do our best to accommodate your request based on availability.\r\n\r\nWe appreciate your understanding. Your cooperation with our policy helps us ensure a smooth and enjoyable dining experience for all our guests.",
                              "custom_checkout_policy": "",
                              "bookable_from_tags": null,
                              "default_service_charge": 20,
                              "default_gratuity": 20,
                              "cc_party_size_min": null,
                              "service_charge_type": null,
                              "require_credit_card": true,
                              "cc_payment_rule": "save_for_later",
                              "charge_type": null,
                              "cost": 0,
                              "apply_service_charge": false,
                              "service_charge": null,
                              "gratuity_type": null,
                              "gratuity": null,
                              "require_gratuity_charge": false,
                              "tax_rate": null,
                              "apply_gratuity_charge": false
                            },
                            {
                              "type": "book",
                              "sort_order": 58,
                              "time": "8:30 PM",
                              "time_iso": "2026-06-08 20:30:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-08 20:30:00",
                              "utc_datetime": "2026-06-09 00:30:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 13,
                              "pacing_covers_remaining": 13,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
                              "cancellation_policy": "Armani / Ristorante Reservation Cancellation Policy\r\n\r\nWe understand that plans can change, and we strive to accommodate all our guests in the best possible way. To ensure we provide excellent service to all our patrons, we ask that you kindly observe the following cancellation policy:\r\n\r\nReservations:\r\nA valid credit card is required to secure all reservations. Walk-ins are welcome based on availability.\r\n\r\nCancellations:\r\nWe require at least 24 hours' notice for cancellations to avoid a $25 per person fee (for special events or holidays, 72 hours' notice is required).\r\n\r\nNo-Shows:\r\nIf you miss your reservation without prior notice, you will be charged a $25 per person fee.\r\n\r\nSpecial Events or Holidays:\r\nA $50 deposit per person is required for reservations during these times. The 72-hour cancellation policy applies to avoid forfeiting the deposit.\r\n\r\nLate Arrivals:\r\nIf you are running late for your reservation, please notify us promptly. Reservations will be held for up to 15 minutes, after which they may be subject to cancellation.\r\n\r\nChanging Reservations:\r\nTo adjust your reservation (time, date, or guest count), please notify us at least 24 hours in advance (72 hours for special events/holidays). We will do our best to accommodate your request based on availability.\r\n\r\nWe appreciate your understanding. Your cooperation with our policy helps us ensure a smooth and enjoyable dining experience for all our guests.",
                              "custom_checkout_policy": "",
                              "bookable_from_tags": null,
                              "default_service_charge": 20,
                              "default_gratuity": 20,
                              "cc_party_size_min": null,
                              "service_charge_type": null,
                              "require_credit_card": true,
                              "cc_payment_rule": "save_for_later",
                              "charge_type": null,
                              "cost": 0,
                              "apply_service_charge": false,
                              "service_charge": null,
                              "gratuity_type": null,
                              "gratuity": null,
                              "require_gratuity_charge": false,
                              "tax_rate": null,
                              "apply_gratuity_charge": false
                            },
                            {
                              "type": "book",
                              "sort_order": 59,
                              "time": "8:45 PM",
                              "time_iso": "2026-06-08 20:45:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-08 20:45:00",
                              "utc_datetime": "2026-06-09 00:45:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 13,
                              "pacing_covers_remaining": 13,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
                              "cancellation_policy": "Armani / Ristorante Reservation Cancellation Policy\r\n\r\nWe understand that plans can change, and we strive to accommodate all our guests in the best possible way. To ensure we provide excellent service to all our patrons, we ask that you kindly observe the following cancellation policy:\r\n\r\nReservations:\r\nA valid credit card is required to secure all reservations. Walk-ins are welcome based on availability.\r\n\r\nCancellations:\r\nWe require at least 24 hours' notice for cancellations to avoid a $25 per person fee (for special events or holidays, 72 hours' notice is required).\r\n\r\nNo-Shows:\r\nIf you miss your reservation without prior notice, you will be charged a $25 per person fee.\r\n\r\nSpecial Events or Holidays:\r\nA $50 deposit per person is required for reservations during these times. The 72-hour cancellation policy applies to avoid forfeiting the deposit.\r\n\r\nLate Arrivals:\r\nIf you are running late for your reservation, please notify us promptly. Reservations will be held for up to 15 minutes, after which they may be subject to cancellation.\r\n\r\nChanging Reservations:\r\nTo adjust your reservation (time, date, or guest count), please notify us at least 24 hours in advance (72 hours for special events/holidays). We will do our best to accommodate your request based on availability.\r\n\r\nWe appreciate your understanding. Your cooperation with our policy helps us ensure a smooth and enjoyable dining experience for all our guests.",
                              "custom_checkout_policy": "",
                              "bookable_from_tags": null,
                              "default_service_charge": 20,
                              "default_gratuity": 20,
                              "cc_party_size_min": null,
                              "service_charge_type": null,
                              "require_credit_card": true,
                              "cc_payment_rule": "save_for_later",
                              "charge_type": null,
                              "cost": 0,
                              "apply_service_charge": false,
                              "service_charge": null,
                              "gratuity_type": null,
                              "gratuity": null,
                              "require_gratuity_charge": false,
                              "tax_rate": null,
                              "apply_gratuity_charge": false
                            },
                            {
                              "type": "book",
                              "sort_order": 60,
                              "time": "9:00 PM",
                              "time_iso": "2026-06-08 21:00:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-08 21:00:00",
                              "utc_datetime": "2026-06-09 01:00:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 15,
                              "pacing_covers_remaining": 15,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
                              "cancellation_policy": "Armani / Ristorante Reservation Cancellation Policy\r\n\r\nWe understand that plans can change, and we strive to accommodate all our guests in the best possible way. To ensure we provide excellent service to all our patrons, we ask that you kindly observe the following cancellation policy:\r\n\r\nReservations:\r\nA valid credit card is required to secure all reservations. Walk-ins are welcome based on availability.\r\n\r\nCancellations:\r\nWe require at least 24 hours' notice for cancellations to avoid a $25 per person fee (for special events or holidays, 72 hours' notice is required).\r\n\r\nNo-Shows:\r\nIf you miss your reservation without prior notice, you will be charged a $25 per person fee.\r\n\r\nSpecial Events or Holidays:\r\nA $50 deposit per person is required for reservations during these times. The 72-hour cancellation policy applies to avoid forfeiting the deposit.\r\n\r\nLate Arrivals:\r\nIf you are running late for your reservation, please notify us promptly. Reservations will be held for up to 15 minutes, after which they may be subject to cancellation.\r\n\r\nChanging Reservations:\r\nTo adjust your reservation (time, date, or guest count), please notify us at least 24 hours in advance (72 hours for special events/holidays). We will do our best to accommodate your request based on availability.\r\n\r\nWe appreciate your understanding. Your cooperation with our policy helps us ensure a smooth and enjoyable dining experience for all our guests.",
                              "custom_checkout_policy": "",
                              "bookable_from_tags": null,
                              "default_service_charge": 20,
                              "default_gratuity": 20,
                              "cc_party_size_min": null,
                              "service_charge_type": null,
                              "require_credit_card": true,
                              "cc_payment_rule": "save_for_later",
                              "charge_type": null,
                              "cost": 0,
                              "apply_service_charge": false,
                              "service_charge": null,
                              "gratuity_type": null,
                              "gratuity": null,
                              "require_gratuity_charge": false,
                              "tax_rate": null,
                              "apply_gratuity_charge": false
                            },
                            {
                              "type": "book",
                              "sort_order": 61,
                              "time": "9:15 PM",
                              "time_iso": "2026-06-08 21:15:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-08 21:15:00",
                              "utc_datetime": "2026-06-09 01:15:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 15,
                              "pacing_covers_remaining": 15,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
                              "cancellation_policy": "Armani / Ristorante Reservation Cancellation Policy\r\n\r\nWe understand that plans can change, and we strive to accommodate all our guests in the best possible way. To ensure we provide excellent service to all our patrons, we ask that you kindly observe the following cancellation policy:\r\n\r\nReservations:\r\nA valid credit card is required to secure all reservations. Walk-ins are welcome based on availability.\r\n\r\nCancellations:\r\nWe require at least 24 hours' notice for cancellations to avoid a $25 per person fee (for special events or holidays, 72 hours' notice is required).\r\n\r\nNo-Shows:\r\nIf you miss your reservation without prior notice, you will be charged a $25 per person fee.\r\n\r\nSpecial Events or Holidays:\r\nA $50 deposit per person is required for reservations during these times. The 72-hour cancellation policy applies to avoid forfeiting the deposit.\r\n\r\nLate Arrivals:\r\nIf you are running late for your reservation, please notify us promptly. Reservations will be held for up to 15 minutes, after which they may be subject to cancellation.\r\n\r\nChanging Reservations:\r\nTo adjust your reservation (time, date, or guest count), please notify us at least 24 hours in advance (72 hours for special events/holidays). We will do our best to accommodate your request based on availability.\r\n\r\nWe appreciate your understanding. Your cooperation with our policy helps us ensure a smooth and enjoyable dining experience for all our guests.",
                              "custom_checkout_policy": "",
                              "bookable_from_tags": null,
                              "default_service_charge": 20,
                              "default_gratuity": 20,
                              "cc_party_size_min": null,
                              "service_charge_type": null,
                              "require_credit_card": true,
                              "cc_payment_rule": "save_for_later",
                              "charge_type": null,
                              "cost": 0,
                              "apply_service_charge": false,
                              "service_charge": null,
                              "gratuity_type": null,
                              "gratuity": null,
                              "require_gratuity_charge": false,
                              "tax_rate": null,
                              "apply_gratuity_charge": false
                            }
                          ],
                          "debug_reasons": []
                        }
                      ],
                      "2026-06-09": [
                        {
                          "name": "Dinner",
                          "shift_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjgLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIPc3JfU2hpZnREZWZhdWx0GICAsfqk5JULDA",
                          "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                          "shift_category": "DINNER",
                          "is_closed": false,
                          "is_previous_version": false,
                          "is_forced_empty_availability": false,
                          "duration_minutes_by_party_size": {
                            "1": 105,
                            "2": 120,
                            "3": 150,
                            "4": 165,
                            "5": 180,
                            "6": 180,
                            "7": 180,
                            "8": 180,
                            "9": 210,
                            "-1": 210
                          },
                          "upsell_categories": [],
                          "times": [
                            {
                              "type": "book",
                              "sort_order": 46,
                              "time": "5:30 PM",
                              "time_iso": "2026-06-09 17:30:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-09 17:30:00",
                              "utc_datetime": "2026-06-09 21:30:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 15,
                              "pacing_covers_remaining": 13,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
                              "cancellation_policy": "Armani / Ristorante Reservation Cancellation Policy\r\n\r\nWe understand that plans can change, and we strive to accommodate all our guests in the best possible way. To ensure we provide excellent service to all our patrons, we ask that you kindly observe the following cancellation policy:\r\n\r\nReservations:\r\nA valid credit card is required to secure all reservations. Walk-ins are welcome based on availability.\r\n\r\nCancellations:\r\nWe require at least 24 hours' notice for cancellations to avoid a $25 per person fee (for special events or holidays, 72 hours' notice is required).\r\n\r\nNo-Shows:\r\nIf you miss your reservation without prior notice, you will be charged a $25 per person fee.\r\n\r\nSpecial Events or Holidays:\r\nA $50 deposit per person is required for reservations during these times. The 72-hour cancellation policy applies to avoid forfeiting the deposit.\r\n\r\nLate Arrivals:\r\nIf you are running late for your reservation, please notify us promptly. Reservations will be held for up to 15 minutes, after which they may be subject to cancellation.\r\n\r\nChanging Reservations:\r\nTo adjust your reservation (time, date, or guest count), please notify us at least 24 hours in advance (72 hours for special events/holidays). We will do our best to accommodate your request based on availability.\r\n\r\nWe appreciate your understanding. Your cooperation with our policy helps us ensure a smooth and enjoyable dining experience for all our guests.",
                              "custom_checkout_policy": "",
                              "bookable_from_tags": null,
                              "default_service_charge": 20,
                              "default_gratuity": 20,
                              "cc_party_size_min": null,
                              "service_charge_type": null,
                              "require_credit_card": true,
                              "cc_payment_rule": "save_for_later",
                              "charge_type": null,
                              "cost": 0,
                              "apply_service_charge": false,
                              "service_charge": null,
                              "gratuity_type": null,
                              "gratuity": null,
                              "require_gratuity_charge": false,
                              "tax_rate": null,
                              "apply_gratuity_charge": false
                            },
                            {
                              "type": "book",
                              "sort_order": 47,
                              "time": "5:45 PM",
                              "time_iso": "2026-06-09 17:45:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-09 17:45:00",
                              "utc_datetime": "2026-06-09 21:45:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 15,
                              "pacing_covers_remaining": 15,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
                              "cancellation_policy": "Armani / Ristorante Reservation Cancellation Policy\r\n\r\nWe understand that plans can change, and we strive to accommodate all our guests in the best possible way. To ensure we provide excellent service to all our patrons, we ask that you kindly observe the following cancellation policy:\r\n\r\nReservations:\r\nA valid credit card is required to secure all reservations. Walk-ins are welcome based on availability.\r\n\r\nCancellations:\r\nWe require at least 24 hours' notice for cancellations to avoid a $25 per person fee (for special events or holidays, 72 hours' notice is required).\r\n\r\nNo-Shows:\r\nIf you miss your reservation without prior notice, you will be charged a $25 per person fee.\r\n\r\nSpecial Events or Holidays:\r\nA $50 deposit per person is required for reservations during these times. The 72-hour cancellation policy applies to avoid forfeiting the deposit.\r\n\r\nLate Arrivals:\r\nIf you are running late for your reservation, please notify us promptly. Reservations will be held for up to 15 minutes, after which they may be subject to cancellation.\r\n\r\nChanging Reservations:\r\nTo adjust your reservation (time, date, or guest count), please notify us at least 24 hours in advance (72 hours for special events/holidays). We will do our best to accommodate your request based on availability.\r\n\r\nWe appreciate your understanding. Your cooperation with our policy helps us ensure a smooth and enjoyable dining experience for all our guests.",
                              "custom_checkout_policy": "",
                              "bookable_from_tags": null,
                              "default_service_charge": 20,
                              "default_gratuity": 20,
                              "cc_party_size_min": null,
                              "service_charge_type": null,
                              "require_credit_card": true,
                              "cc_payment_rule": "save_for_later",
                              "charge_type": null,
                              "cost": 0,
                              "apply_service_charge": false,
                              "service_charge": null,
                              "gratuity_type": null,
                              "gratuity": null,
                              "require_gratuity_charge": false,
                              "tax_rate": null,
                              "apply_gratuity_charge": false
                            },
                            {
                              "type": "book",
                              "sort_order": 48,
                              "time": "6:00 PM",
                              "time_iso": "2026-06-09 18:00:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-09 18:00:00",
                              "utc_datetime": "2026-06-09 22:00:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 15,
                              "pacing_covers_remaining": 13,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
                              "cancellation_policy": "Armani / Ristorante Reservation Cancellation Policy\r\n\r\nWe understand that plans can change, and we strive to accommodate all our guests in the best possible way. To ensure we provide excellent service to all our patrons, we ask that you kindly observe the following cancellation policy:\r\n\r\nReservations:\r\nA valid credit card is required to secure all reservations. Walk-ins are welcome based on availability.\r\n\r\nCancellations:\r\nWe require at least 24 hours' notice for cancellations to avoid a $25 per person fee (for special events or holidays, 72 hours' notice is required).\r\n\r\nNo-Shows:\r\nIf you miss your reservation without prior notice, you will be charged a $25 per person fee.\r\n\r\nSpecial Events or Holidays:\r\nA $50 deposit per person is required for reservations during these times. The 72-hour cancellation policy applies to avoid forfeiting the deposit.\r\n\r\nLate Arrivals:\r\nIf you are running late for your reservation, please notify us promptly. Reservations will be held for up to 15 minutes, after which they may be subject to cancellation.\r\n\r\nChanging Reservations:\r\nTo adjust your reservation (time, date, or guest count), please notify us at least 24 hours in advance (72 hours for special events/holidays). We will do our best to accommodate your request based on availability.\r\n\r\nWe appreciate your understanding. Your cooperation with our policy helps us ensure a smooth and enjoyable dining experience for all our guests.",
                              "custom_checkout_policy": "",
                              "bookable_from_tags": null,
                              "default_service_charge": 20,
                              "default_gratuity": 20,
                              "cc_party_size_min": null,
                              "service_charge_type": null,
                              "require_credit_card": true,
                              "cc_payment_rule": "save_for_later",
                              "charge_type": null,
                              "cost": 0,
                              "apply_service_charge": false,
                              "service_charge": null,
                              "gratuity_type": null,
                              "gratuity": null,
                              "require_gratuity_charge": false,
                              "tax_rate": null,
                              "apply_gratuity_charge": false
                            },
                            {
                              "type": "book",
                              "sort_order": 49,
                              "time": "6:15 PM",
                              "time_iso": "2026-06-09 18:15:00",
                              "access_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-1559333858.52-0.260032741879",
                              "public_time_slot_description": "",
                              "public_description_title": "",
                              "public_long_form_description": "",
                              "public_photo": null,
                              "public_photo_sizes": {},
                              "real_datetime_of_slot": "2026-06-09 18:15:00",
                              "utc_datetime": "2026-06-09 22:15:00",
                              "shift_persistent_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlchwLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsM-DINNER-1647967825.6",
                              "duration": 120,
                              "access_seating_area_id": null,
                              "is_exclusive": false,
                              "access_rule_durations_enabled": false,
                              "exclude_from_shift_pacing": false,
                              "reservation_tags": [],
                              "upsell_categories": [],
                              "confirmation_include_end_time": true,
                              "access_rule_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjkLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIQc3JfQm9va2luZ0FjY2VzcxiAgMmk5rruCgw",
                              "is_held": false,
                              "pacing_limit": 13,
                              "pacing_covers_remaining": 13,
                              "is_using_shift_upsells": false,
                              "selected_automatic_upsells": [],
                              "experience_id": "ahNzfnNldmVucm9vbXMtc2VjdXJlcjMLEg9uaWdodGxvb3BfVmVudWUYgICoov3a2AsMCxIKRXhwZXJpZW5jZRiAgPnnwZmCCgw",
                              "min_spend": null,
                              "policy": "Thank you for booking your reservation at Armani/Ristorante! We very much look forward on welcoming you and your guests. Kindly inform us of any celebrations or dietary restrictions.",
[...]
